.App {
  text-align: center;
  background-color:white;
  display: flex;
  justify-content: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.bg-provider{
  background-image: url('../public/banner/20250719_1006_Family\ Seeking\ Help_simple_compose_01k0gfdkkwfs58djpdrehyreps.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.bg-worker{
  background-image: url('../public/banner/20250719_1657_Kerala\ Worker\ Celebration_simple_compose_01k0h6we39e0393qz1mkxq32xr.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
